
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>HELLO</h2>

<p>
    This is a simple MVC project instance.
    Made by watching  <a href="https://www.youtube.com/playlist?list=PLKnjBHu2xXNNRPqfdZC6hNmJKOqIIpqNj">the video series</a> on the link.
    <ul>
        <li>JQuery is used on Products and Customers page</li>
        <li>Customers page has two type delete process.</li>
    </ul>
</p>
